@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Space+Mono:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --ff-space-mono: 'Space Mono', monospace;
    --ff-montserrat: 'Montserrat', sans-serif;

    --gray-1: rgba(51, 51, 51, 1);
    --gray-2: rgba(79, 79, 79, 1);
}

body {
    font-family: var(--ff-space-mono);
    margin: 2.5rem 2rem;
}

.top-text {
    margin-left: 3rem;
    font-size: 1.5rem;
    font-weight: 700;
}

.wrapper {
    display: flex;
    justify-content: space-evenly;
    margin-top: 12.5rem;
    flex-grow: 1;
}

.wrapper-content {
    max-width: 40%;
}

h1 {
    font-size: 4rem;
    line-height: 1.4;
    color: var(--gray-1);
    text-wrap: balance;
}

.wrapper-content p {
    font-size: 1.5rem;
    color: var(--gray-2);
    max-width: 30ch;
    margin-top: 2rem;
}

.wrapper-content button {
    margin-top: 4rem;
    border: 0;
    padding: 1.5rem 2.5rem;
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

.scarecrow-404 {
    width: min(540px, 40%);
    max-height: min(447px, 33.1%);
    margin: auto 0;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 1.5rem;
    width: 100%;
    font-family: var(--ff-montserrat);
    font-size: .85rem;
    text-align: center;
    color: #A9A9A9;
    margin-top: 2.5rem;
}

.footer span {
    text-decoration: underline;
    font-weight: 700;
}

.nowrap {
    white-space: nowrap;
}

@media (width < 1000px) {
    h1 {
        font-size: 3rem;
        line-height: 1.1;
    }

    .wrapper-content p {
        font-size: 1.3rem;
    }
}

@media (width < 800px) {
    body {
        margin: 1.5rem;
    }

    .wrapper {
        flex-direction: column;
        margin: 4rem auto 0 auto;
    }

    .scarecrow-404 {
        width: min(100%, 500px);
        margin: auto;
    }

    .wrapper-content {
        max-width: 100%;
        margin-top: 3.5rem;
    }
}