@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Space+Mono:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --ff-space-mono: 'Space Mono', monospace;
    --ff-montserrat: 'Montserrat', sans-serif;

    --primary: hsl(0, 0%, 20%);
    --gray-1: hsl(0, 0%, 20%);
    --gray-2: hsl(0, 0%, 31%);
    --light-gray: hsl(0, 0%, 66%);
    --button-text: hsl(0, 0%, 100%);
    --background-color: hsl(0, 0%, 100%);
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0 2rem;
    font-family: var(--ff-space-mono);
    background-color: var(--background-color);
}

.top-text {
    margin: 2.5rem 0 0 3rem;
    color: var(--gray-1);
    font-weight: 700;
    font-size: 1.5rem;
}

.wrapper {
    display: flex;
    flex-grow: 1;
    justify-content: space-evenly;
    margin: 12.5rem 0 2.5rem 0;
}

.wrapper-content {
    max-width: 40%;
}

h1 {
    color: var(--gray-1);
    font-size: 4rem;
    line-height: 1.4;
    text-wrap: balance;
}

.wrapper-content p {
    max-width: 30ch;
    margin-top: 2rem;
    color: var(--gray-2);
    font-size: 1.5rem;
}

.wrapper-content button {
    margin-top: 4rem;
    padding: 1.5rem 2.5rem;
    border: 0;
    color: var(--button-text);
    cursor: pointer;
    background-color: var(--primary);
}

.scarecrow-404 {
    width: min(540px, 40%);
    margin-bottom: auto;
}

.footer {
    margin: auto 0 1.5rem 0;
    color: var(--light-gray);
    font-size: .85rem;
    font-family: var(--ff-montserrat);
    text-align: center;
}

.footer a {
    color: inherit;
    font-weight: 700;
    text-decoration: underline;
}

.nowrap {
    white-space: nowrap;
}

@media (width < 1000px) {
    h1 {
        font-size: 3rem;
        line-height: 1.1;
    }

    .wrapper-content p {
        font-size: 1.3rem;
    }
}

@media (width < 800px) {
    body {
        margin: 0 1.5rem;
    }

    .wrapper {
        flex-direction: column;
        margin: 4rem auto 2.5rem auto;
    }

    .scarecrow-404 {
        width: min(90%, 500px);
        margin: auto;
    }

    .wrapper-content {
        max-width: 100%;
        margin-top: 3rem;
    }

    .top-text {
        margin: 0;
        margin-top: 1.25rem;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --primary: hsl(0, 0%, 13%);
        --gray-1: hsla(0, 0%, 100%, 0.87);
        --gray-2: hsla(0, 0%, 100%, 0.7);
        --light-gray: hsla(0, 0%, 100%, .55);
        --background-color: hsl(0, 0%, 5%);
    }
}